.link,
a:hover,
a:focus,
html body .text-primary,
.btn-default:hover,
.btn-primary:focus,
.btn-primary:focus:hover,
.btn-primary:active:focus,
.btn-primary:active {
  color: rgb(254, 72, 25);
}

.btn-primary:after,
.icon-primary,
.divider,
#style-switcher .toggle-switcher {
  background: rgb(254, 72, 25);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus,
.form-control:hover,
.form-control:focus {
  border-color: rgb(254, 72, 25);
}

.btn-primary {
  border: 1px solid rgb(254, 72, 25);
}